<aside class="aside">
  <div class="aside__box">
    <h4>Рубрики</h4>
    <ul><li><a href="blog.html">Все статьи</a></li><li><a href="blog.html?tag=Материалы">Материалы</a></li><li><a href="blog.html?tag=Уход">Уход</a></li><li><a href="blog.html?tag=Установка">Установка</a></li><li><a href="blog.html?tag=Безопасность">Безопасность</a></li><li><a href="blog.html?tag=Обзор">Обзоры моделей</a></li><li><a href="blog.html?tag=Новости">Новости производства</a></li></ul>
  </div>
  <div class="aside__box aside__box--yellow">
    <h4 style="color:var(--c-text)">Рассчитать чехлы</h4>
    <p>Класс авто, материал, цвета и опции — цена за минуту.</p>
    <a class="btn btn--dark btn--sm" href="index.html#calc">Открыть калькулятор</a>
  </div>
</aside>
